$color-black: #474A51;
$color-grey: #e7e7e7;
$color-green: #15616D;
$color-green-1: #15616D;
$color-white: #fff;
$color-green-2: #CEDFE1;
$color-green-3: #104D56;
$bg-red: #DF5A5A;

$offset-l: 32px;
$offset-m: 24px;
$offset-x: 12px;