@import "../../../baseStyles/variables";

.product-wrapper {
  padding: $offset-m 0;
}

.product {
  &__item {
    margin-bottom: $offset-m;
    padding: $offset-m;
    background-color: $color-grey;
    box-sizing: border-box;

    &__name {
      width: 100%;
      margin-bottom: $offset-x;
      font-weight: 600;
    }
  }

  &__img {
    img {
      width: 150px;
      margin: $offset-l 0;
    }
  }

  &__description {
    .input-block__input {
      min-height: 80px;
    }
  }

  &__radio {
    display: flex;
    flex-wrap: wrap;
  }
}

.btn-save-product {
  margin-left: auto;
  margin-bottom: $offset-m;
}